body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* #region ----------HEDER-------*/
.header-alt {
  border-bottom: 1px solid #e7e9fc;
}

.container-hed {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation-hed {
  display: flex;
  align-items: center;
}

.ulik-ul {
  display: flex;
  gap: 40px;
}

/* LOGO */
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  margin-right: 76px;
}

span {
  color: #2e2f42;
}
/* LOGO LINK */
.li-nav {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  padding-top: 24px;
  padding-bottom: 24px;
}

.li-nav:hover,
.li-nav:focus {
  color: #404bbf;
}
/* ADDRESS */
.address-style {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.add-st {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.add-st:hover,
.add-st:focus {
  color: #404bbf;
}
/* #endregion */

/* #region ----------SECTION 1---*/
.section-one {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.text {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;

  max-width: 496px;
}

.but-on {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.but-on:hover,
.but-on:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* #endregion */

/* #region ----------SECTION 2---*/

.section-two {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-list {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.menu-item {
  width: calc((100% - 72px) / 4);
  
}

.strategy-class {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}

.parag {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region ----------SECTION 3---*/
.our-team-section {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-member {
  background-color: #ffffff;
}

.member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.member-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region ----------SECTION 4---*/
.our-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.contenty-men {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text-contenty {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region ----------FOOTER -----*/
.food-class {
  background-color: #2e2f42;
}

.food-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.spam-logo {
  color: #f4f4fd;
}

.food-parag {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* #endregion */
